<html>
    <head>
        <title>Django Mujik blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Mujik Blog</a></h1>
        </div>

        <div>
            <p>published: 21.09.2022, 26:14</p>
            <h2><a href="">My first post</a></h2>
            <p>— Папа, а почему нас везут на фронт?</p>
            <p>— Не знаю, сынок, я политикой не интересуюсь.</p>
        </div>

        <div>
            <p>published: 21.09.2022, 26:14</p>
            <h2><a href="">My second post</a></h2>
            <p>- Сынок, я на кухне, посмотри, что за сообщение на телефон пришло?</p>
            <p>- Это тебя клуб “Тридцать Жирных” опять на встречу приглашаeт!</p>
            <p>- Сколько раз тебе говорила, это не тридцать жирных, а ЗОЖ!</p>
            </p>
        </div>
    </body>
</html>